@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #00241B;
  --secondary-color: #BFC0C0;
  --tertiary-color: #648767;
  --quarter-color: #7DC95E;
  --fifth-color: #FFFFFF;
  --line-color: #4D8B31;
  --font-text: 12pt;
}

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

body {
  overflow-x: hidden;
}

@font-face {
  font-family: 'DoubleBass';
  src: url('fonts/DoubleBass-Bold-trial.ttf');
}

/* index css inicio */

#div1 {
  background-image: url("img/7971.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.text-center h2 {
  text-transform: uppercase;
  font-size: var(--font-text);
  font-weight: 700;
  color: var(--fifth-color);
}

.text-custom {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--fifth-color);
}

.herb-haven-container {
  backdrop-filter: blur(2px);
  padding-top: 10px;
  width: 500px;
  -webkit-box-shadow: inset 0px 0px 14px 28px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px 0px 14px 28px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px 0px 14px 28px rgba(0, 0, 0, 0.75);
}

.text-custom p {
  font-family: 'DoubleBass';
  font-size: 18pt;
}

#herb-haven {
  cursor: pointer;
}

.letter {
  display: inline-block;
  transition: transform 0.5s ease;
  font-family: 'DoubleBass';
  font-size: 80pt;
  line-height: 0.98;
  text-shadow: 2px 2px 5px black;
}

/* index css fim*/

/* nav-bar css inicio*/

.linha {
  height: 70px;
  background: rgba(255, 255, 255, 0.07);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  width: 100%;
  border: none;
  z-index: 1;
  margin-bottom: 0;
}


.col {
  flex: 1;
  color: var(--fifth-color);
  height: 70px;
  border: none;
  padding: 10px;
  text-align: left;
  font-size: 16px;
  line-height: 1.5;
  box-sizing: border-box;
  position: relative;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  margin-left: 20px;
  z-index: 0;
}

.col.active {
  background-color: var(--fifth-color);
  color: var(--primary-color);
  font-size: 20px;
  height: 90px;
  transition: all 0.3s ease-in-out;
  transform: scale(1.2);
  margin-left: 20px;
}

.col:not(.active) {
  transition: all 0.3s ease-in-out;
  transform: scale(1);
  margin-left: 20px;
}

.col h2 {
  font-size: var(--font-text);
  font-weight: 700;
  position: relative;
  transition: font-size 0.5s ease-in-out;
}

.col p {
  font-size: 10pt;
  font-weight: 300;
  position: relative;
  transition: font-size 0.5s ease-in-out;
}

.col.active h2 {
  font-size: 16pt;
  transition: font-size 0.5s ease-in-out;
}

.col.active h2::after {
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--line-color);
  margin-top: 5px;
  transition: width 0.5s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
}

.col:not(.active) h2::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--line-color);
  margin-top: 5px;
  transition: width 0.5s ease-in-out;
  position: absolute;
  bottom: 0;
  left: 0;
  visibility: hidden;
}

.col:hover h2 {
  font-size: 20pt;
}

.col.active:hover h2 {
  font-size: 20pt;
}

.col.active:hover h2::after {
  width: 100%;
}

.text-left {
  text-align: left !important;
}

/* nav-bar css fim*/

/* sobre css inicio*/

.fixed-left {
  width: 33.33%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  background-image: url('img/4759187.jpg');
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  background-position: right;
}

.fixed-left h1 {
  font-family: 'DoubleBass';
  font-size: 80pt;
  line-height: 0.98;
  text-shadow: 2px 2px 5px black;
}

.fixed-left p {
  text-transform: uppercase;
  font-size: 12pt;
  font-weight: 700;
}

.fixed-left .d-flex {
  align-items: flex-start;
  padding-top: 30px;
}

#div2 {
  background-image: url('img/7971.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre-texto {
  position: absolute;
  height: auto;
  width: 800px;
  left: 67%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.08);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.3px);
  -webkit-backdrop-filter: blur(1.3px);
  color: aliceblue;
  padding: 20px;
  text-align: justify;
}

.sobre-texto .fa-quote-left {
  position: absolute;
  top: -25px;
  left: -10px;
  font-size: 3em;
}

.sobre-texto .fa-quote-right {
  position: absolute;
  bottom: -25px;
  right: -10px;
  font-size: 3em;
}

.sobre-texto p {
  font-size: 12pt;
}

.sobre-texto p em {
  font-style: italic;
  color: #7DC95E;
  cursor: pointer;
}

.sobre-texto b {
  font-style: bold;
  color: #7DC95E;
  cursor: pointer;
}

.sobre-texto b,
.sobre-texto p em {
  position: relative;
}

.sobre-texto b::after,
.sobre-texto p em::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 1px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: bottom left;
  opacity: 0;
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
}

.sobre-texto b:hover::after,
.sobre-texto p em:hover::after {
  transform: scaleX(1);
  opacity: 1;
  background-color: #7DC95E;
}

/* sobre css fim */

/* login usuario cadastrado inicio */

.minha-div {
  border-right: 2px solid #E4DDDD;
  z-index: 2;
  width: 20%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: black;
  background-image: url('img/Herb-Haven.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;
}

input[type='file'] {
  display: none;
}

.max-width {
  margin-top: 35px;
  max-width: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.user-mais button {
  text-transform: uppercase;
  margin-top: 20px;
  background: none;
  color: var(--fifth-color);
  border: none;
  cursor: pointer;
  font-weight: 700;
  --c: var(--quarter-color);
  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}

.user-mais button:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}

.user-mais button:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: var(--quarter-color);
  color: #fff;
}

.informacoes {
  overflow: hidden;
  padding: 10px;
  display: none;
  background-color: black;
  color: var(--fifth-color);
  text-align: left;
  border: var(--fifth-color) solid 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 200px;
}

.animar-informacoes {
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.informacoes i {
  color: var(--quarter-color);
  margin-right: 10px;
}

.informacoes ul {
  white-space: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.informacoes .btn-veja-menos {
  align-self: center;
  text-transform: uppercase;
  margin-top: 20px;
  background: none;
  color: var(--fifth-color);
  border: none;
  cursor: pointer;
  font-weight: 700;
  --c: var(--quarter-color);
  box-shadow: 0 0 0 .1em inset var(--c);
  --_g: linear-gradient(var(--c) 0 0) no-repeat;
  background:
    var(--_g) calc(var(--_p, 0%) - 100%) 0%,
    var(--_g) calc(200% - var(--_p, 0%)) 0%,
    var(--_g) calc(var(--_p, 0%) - 100%) 100%,
    var(--_g) calc(200% - var(--_p, 0%)) 100%;
  background-size: 50.5% calc(var(--_p, 0%)/2 + .5%);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
}

.informacoes .btn-veja-menos:hover {
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
}

.informacoes .btn-veja-menos:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: var(--quarter-color);
  color: #fff;
}

.informacoes {
  margin-top: 20px;
}

.informacoes li {
  margin-bottom: 10px;
}


#imgPhoto {
  margin-top: 10%;
  width: 130px;
  height: 130px;
  padding: 2px;
  background-color: #111;
  background-color: #111;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
    0 0 2px rgba(255, 255, 255, 0.8),
    0 0 6px rgba(255, 255, 255, 0.8),
    0 0 8px rgba(255, 224, 255, 0.8),
    0 0 10px rgba(255, 224, 255, 0.8),
    0 0 12px rgba(255, 224, 255, 0.8),
    0 0 14px rgba(255, 224, 255, 0.8);
  animation: pulse 2s infinite;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  transition: background-color 0.5s ease-in-out;
}

#imgPhoto:hover {
  background-color: var(--tertiary-color);
  transition-delay: 0.2s;
  position: relative;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
      0 0 2px rgba(255, 255, 255, 0.8),
      0 0 6px rgba(255, 255, 255, 0.8),
      0 0 8px rgba(255, 224, 255, 0.8),
      0 0 10px rgba(255, 224, 255, 0.8),
      0 0 12px rgba(255, 224, 255, 0.8),
      0 0 14px rgba(255, 224, 255, 0.8);
  }

  50% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
      0 0 4px rgba(255, 255, 255, 0.8),
      0 0 8px rgba(255, 255, 255, 0.8),
      0 0 10px rgba(255, 224, 255, 0.8),
      0 0 12px rgba(255, 224, 255, 0.8),
      0 0 14px rgba(255, 224, 255, 0.8),
      0 0 16px rgba(255, 224, 255, 0.8);
  }

  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
      0 0 2px rgba(255, 255, 255, 0.8),
      0 0 6px rgba(255, 255, 255, 0.8),
      0 0 8px rgba(255, 224, 255, 0.8),
      0 0 10px rgba(255, 224, 255, 0.8),
      0 0 12px rgba(255, 224, 255, 0.8),
      0 0 14px rgba(255, 224, 255, 0.8);
  }
}

.text-user {
  white-space: nowrap;
  line-height: 1;
  margin-top: 15px;
  color: black;
  background-color: #fff;
  width: 200px;
  font-size: small;
  padding: 10px;
  overflow: hidden;
  text-overflow: clip;
}

.text-user h1 {
  font-size: 15pt;
  font-weight: 300;
}

.text-user p {
  font-size: 15pt;
  font-weight: 600;
}

.text-user span {
  font-size: 15pt;
  font-weight: 600;
  color: var(--quarter-color);
}

.outra-div {
  z-index: 1;
  border-top: 2px solid #E4DDDD;
  width: 80%;
  height: 70%;
  right: 0;
  position: fixed;
  bottom: 0;
  background-color: #545454;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-text {
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: inline;
}


.title-text h1 {
  font-family: DoubleBass;
  font-size: 65pt;
  line-height: 80px;
  display: inline;
  background: linear-gradient(to right, #7DC95E, #00241B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

.bg-image {
  background-image: url('img/7971.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.conteudo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  grid-template-rows: auto 1fr;
  justify-content: center;
  align-items: center;
}

.conteudo .card {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  height: 200px;
  width: 350px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.front i {
  color: var(--primary-color);
  padding: 10px;
  font-size: 35pt;
}

.front p {
  font-size: var(--font-text);
}


.card:hover {
  animation: jump 0.3s ease-in-out 3;
}


@keyframes jump {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.card .front,
.card .back {
  position: absolute;
  backface-visibility: hidden;
  transition: transform 0.6s ease;
  transform-style: preserve-3d;
}

.card .front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card .back {
  transform: rotateY(180deg);
}

.card.flipped .front {
  transform: rotateY(180deg);
}

.card.flipped .back {
  transform: rotateY(0deg);
}

.card .back ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card .back li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-text);
  margin: 10px 0;
  cursor: pointer;
}

.card .back i {
  margin-right: 5px;
  opacity: 0;
}

.card .back li:hover {
  color: var(--line-color);
}

.card .back li:hover i {
  opacity: 1;
  animation: shake 0.5s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

/* login usuario cadastrado fim */

#div4 {
  background-color: yellow;
}

#div3 {
  background-color: #000000;
}

#div5 {
  background-color: #9c27b0;
}

#div6 {
  background-color: #71d400;
}

/* formatação geral das divs inicio*/

.div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease-in-out;
}

.div.active {
  z-index: 1;
}

/* formatação geral das divs fim*/